@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

@media print{
    body{
        width: 21cm;
        height: 30.7cm;
    }
}

body{
    margin: 0cm;
    padding: 0cm;
    padding-left: 0.75cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #3B3838;
}

hr{
    margin: 0;
    height: 1px;
    border: none;
    background-color: #AFABAB;
}

.cover-container {
    position: relative;
}

.cover-title {
    position: absolute;
    top: 8.3cm;
    left: 3.3cm;
    font-size: 70pt;
    margin: 0;
    padding: 0;
    font-family: 'Grechen Fuemen', cursive;
}

.cover-img {
    bottom: 0;
    width: 21cm;
    height: 30.7cm;
}

.main-container{
    display: flex;  
    height: 30.7cm;
    page-break-after: always;
}

.content-container{
    padding-top: 2cm;
    padding-bottom: 2cm;
    flex: 1;
}

.grid-container{
    display: grid;
    grid-gap: 0.5cm;
}

.grid-item{
    margin-bottom: 0.5cm;
}

.Titel{
    text-align: center;
    font-size: 20pt;
    color: black;
    margin: 0cm;
    margin-bottom: 1.5cm;
}

.Tag{
    background-color: #DBDBDB;
    padding: 0.27cm;
    display: flex;
    flex-direction: row;
}

.Links{
    margin-left: auto;
}

.Linien{
    margin-top: 1cm;
}

.Leiste{
    width: 1cm;
    float: right;
    margin-left: 0.75cm;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid #AFABAB;
}

.Leiste p{
    transform: rotate(-90deg);
    text-align: center;
}

.Monatstabelle{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.Monatstabelle td{
    border: 1px solid #AFABAB;
    color: #AFABAB;
    font-size: 10pt;
    padding: 5px;
    padding-bottom: 70px;
}

.Wochentage td{
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    color: black;
    text-align: center;
    padding: 0.25cm;
}