<!DOCTYPE html>
<html>

    <head>
        <title>Kalender</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
    </head>

    <body>

        {% for seite in seiten %}

            <div class="main-container">

                <div class="content-container">

                    <p class="Titel">{{seite.monat}}</p>
                    
                    {% if seite.type == "Woche" %}
                    <div class="grid-container">

                        <!-- Wochentage Grid -->
                        <div class="grid-container grid-item">

                            {% for tag in seite.tage %}
                            
                                <div class="grid-item" style="grid-column-start: {{tag['table-ID']}}">
                                    <div class="Tag">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                            <!-- TODO Pythonscript-->
                                        </div>
                                    </div>
                                    <hr />
                                    <hr class="Linien" />
                                    <hr class="Linien" />
                                    <hr class="Linien" />
                                    <hr class="Linien" />
                                </div>

                            {% endfor %}

                        </div>

                    </div>
                    {% endif %}
                    {% if seite.type == "Uebersicht" %}
                    <table class="Monatstabelle">
                        <tr class="Wochentage">
                            <td>Montag</td>
                            <td>Dienstag</td>
                            <td>Mittwoch</td>
                            <td>Donnerstag</td>
                            <td>Freitag</td>
                            <td>Samstag</td>
                            <td>Sonntag</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>

                <!-- Monatleiste vertikal -->
                <div class="Leiste">
                    <p></p>
                    <hr />
                    <p>Jan</p>
                    <hr />
                    <p>Feb</p>
                    <hr />
                    <p>Mär</p>
                    <hr />
                    <p>Apr</p>
                    <hr />
                    <p>Mai</p>
                    <hr />
                    <p>Jun</p>
                    <hr />
                    <p>Jul</p>
                    <hr />
                    <p>Aug</p>
                    <hr />
                    <p>Sep</p>
                    <hr />
                    <p>Okt</p>
                    <hr />
                    <p>Nov</p>
                    <hr />
                    <p>Dez</p>
                    <hr />
                    <p></p>
                </div>

            </div>
    
        {% endfor %}

    </body>

</html>