<!DOCTYPE html>
<html>

    <head>
        <title>Kalender</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
    </head>

    <body>
        <div class="main-container">
            <div class="cover-container">
                <img class="cover-img" src="img/cover_1.svg" alt="Cover art"/>
                <p class="cover-title">{{year}}</p>
            </div>
        </div>

        {% for seite in seiten %}

            <div class="main-container">

                <div class="content-container">

                    <p class="Titel">{{seite.monat}}</p>
                    
                    {% if seite.type == "Woche" %}
                    <div class="grid-container">

                        <!-- Wochentage Grid -->
                        <div class="grid-container grid-item">

                            {% for tag in seite.tage %}
                            
                                <div class="grid-item" style="grid-column-start: {{tag['table-ID']}}">
                                    <div class="Tag">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                    <hr />
                                    <hr class="Linien" />
                                    <hr class="Linien" />
                                    <hr class="Linien" />
                                    <hr class="Linien" />
                                </div>

                            {% endfor %}

                        </div>

                    </div>
                    {% endif %}
                    {% if seite.type == "Uebersicht" %}
                    
                    <table class="Monatstabelle">
                        <tr class="Wochentage">
                            {% for day in day_names %}
                            <td>{{day}}</td>
                            {% endfor %}
                        </tr>
                      
                        {% for woche in seite.wochen %}
                        <tr>
                            {% for tag in woche %}
                            <td> {{tag}} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </table>

                    {% endif %}
                </div>
                <!-- Monatleiste vertikal -->
                <div class="Leiste">
                    <p></p>
                    <hr />
                    {% for month in month_names %}
                    <p>{{month[0:3]}}</p>
                    <hr />
                    {% endfor %}
                    <p></p>
                </div>

            </div>
    
        {% endfor %}

    </body>

</html>